beautifulsoup4==4.5.3
bs4==0.0.1
clear==1.0.1
click==6.6
configparser==3.5.0
cycler==0.10.0
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.10.5
Flask==0.12
get==0.0.0
goodlogging==1.0.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8.1
MarkupSafe==0.23
matplotlib==1.5.3
mysql-connector==2.1.4
numpy==1.11.3
post==0.0.0
psycopg2==2.6.2
public==0.0.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
query-string==0.0.0
rarfile==2.7
request==0.0.0
requests==2.6.0
selenium==3.0.2
setupfiles==0.0.0
six==1.10.0
static3==0.7.0
Werkzeug==0.11.15
