<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>RMS 專案管理系統</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style1.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>
        <header>
            <table>
                <tr>
                    <td><a href='/index'><img src='{% static "images/logo.jpeg" %}' width = 150 /></a></td>
                    <td><h1>RMS-Requirement Management System<h1</td>
                </tr>
            </table>
        </header>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a class="active" href="/list/all">All</a></li>
            <li><a href="/list/New">New</a></li>
            <li><a href="/list/Processing">Processing</a></li>
            <li><a href="/list/Rejeted">Rejected</a></li>
            <li><a href="/list/Closed">Closed</a></li>
        </ul>
        <hr>
        {% block main %}{% endblock %}
        <hr>
        <ul>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        </br>
        This is a django website, made by Pyman, 2017
    </body>
</html>
