{% extends 'base.html' %}
{% block main %}
<h4>Issue No: {{new_issue.no}}</h4>
<form name='frm_issue_edit' action='' method='POST'>
    {% csrf_token %}
    <table id = "tb_issue_editor">
        {{issue_form.as_table}}
    </table>
    <script>
        $( function() {
            $( "#id_start_date" ).datepicker({dateFormat: 'yy-mm-dd'});
            $( "#id_end_date" ).datepicker({dateFormat: 'yy-mm-dd'});
            $( "#id_close_date" ).datepicker({dateFormat: 'yy-mm-dd'});
        });
    </script>

<!--
主題: <input type="text" name="topic" value={{new_issue.topic}}>&emsp;
負責人: <input type="text" name="owner" value={{new_issue.owner}}>&emsp;
類型: <input type="text" name="type" value={{new_issue.type}}>&emsp;
<br/><br/>
起始日: <input type="text" name="start_date" value={{new_issue.start_date}}>&emsp;
到期日: <input type="text" name="end_date" value={{new_issue.end_date}}>&emsp;
結案日: <input type="text" name="close_date" value={{new_issue.close_date}}>&emsp;
<br/><br/>
狀態: <input type="text" name="status" value={{new_issue.status}}>&emsp;
<br><br>
問題描述:<br/><br/>
<textarea rows="5" cols="100">
{{new_issue.desc}}
</textarea>
<br><br>

備註:<br/><br/>
<textarea rows="5" cols="100">
{{new_issue.notes}}
</textarea>
<br><br>
-->

<input type="submit" value="OK">
<input type="reset" value="Clear">
</form>
{% endblock %}
