{% extends 'base.html' %}
{% block main %}
<table  id="tbl_issue" width=100% rules="all" cellpadding='5';>
    <tr>
        <th>No</th><th>Topic</th><th>Description</th><th>Notes</th> <th>Owner</th>
        <th>Type</th><th>Start Date</th><th>End Date</th><th>Close Date</th><th>Status</th>
        <th colspan="2"><center>[<a href='/issue/add'>create issue</a>]</center></th>
    </tr>
    {% for issue in all %}
        <tr>
            <td id='td_no'><center>{{issue.no}}</center></td>
            <td id='td_topic'>{{issue.topic}}</td>
            <td id='td_desc'>{{issue.desc}}</td>
            <td id='td_notes'>{{issue.notes}}</td>
            <td id='td_owner'>{{issue.owner}}</td>
            <td id='td_type'>{{issue.type}}</td>
            <td id='td_start_date'>{{issue.start_date}}</td>
            <td id='td_end_date'>{{issue.end_date}}</td>
            <td id='td_close_date'>{{issue.close_date}}</td>
            <td id='td_status'>{{issue.status}}</td>
            <td id='td_edit'>[<a href='/issue/edit/{{issue.no}}'>edit</a>]</td>
            <td id='td_del'>[<a href='/issue/del/{{issue.no}}'>delete</a>]</td>
            </td>
        </tr>
    {% empty %}
        <p>There is no issue available!</p>
    {% endfor %}
    <script>
        $( function() {
            $("#tbl_issue").attr('style',"border:3px #FFAC55 double;padding:5px;background-color:#FFFFBB");
            $("th").attr('style',"border:3px #FFAC55 double;padding:5px;");
            $("#td_no").attr('width', 10);
            $("#td_topic").attr('width', 60);
            $("#td_desc").attr('width', 200);
            $("#td_notes").attr('width', 200); 
            $("#td_owner").attr('width', 60);
            $("#td_type").attr('width', 60);
            $("#td_start_date").attr('width', 90);
            $("#td_end_date").attr('width', 90);
            $("#td_close_date").attr('width', 90);
            $("#td_status").attr('width', 60);
            $("#td_edit").attr('width', 20);
            $("#td_del").attr('width', 20);
        } );
    </script>

</table>
{%endblock%}
