<!DOCTYPE html>
<html>
<head>
<title>RMS 登入畫面</title>
</head>
<body>
<div class='container'>
<form name='frm_login' action='/' method='GET'>
    <label for='user_id'>帳號:</label>
    <input id ='user_id' type='text' name="user_id"></input>
    <label for='user_pass'>密碼:</label>
    <input id ='user_pass' type='password' name="user_pass"></input>
    <input type='submit' value="登入"></input>
    <input type='reset' value="清除重填"></input>
</form>
您的使用者帳號：{{user_id | default:"尚未輸入帳號"}}<br/>
{% if verified %}
    <em>您通過驗證</em>
{% else %}
    <em>密碼或帳號打錯了！</em>
{% endif %}
</div>
</body>
</html>
